*{margin: 0; padding: 0;}


#header{width: 100%; height: 64px; border-bottom: 1px solid rgb(166, 164, 164); }
#body{height: 100vh; width: 1024px; margin: 0 auto;}
#footer{width: 100%; height: 200px; background: #e4e4e4; display: flex; justify-content: center; align-items: center; /* position: fixed; bottom: 0; right: 0; left: 0; */}

#header-area{width: 1024px; height: 100%; display: flex; align-items: center; justify-content: space-between; margin: 0 auto;}
#header-area img{width: 128px}
#body > h1{ margin-top: 16px; margin-bottom: 10px; }


#footer>a{text-decoration: none; padding: 20px; color:#333;}